{"filter":false,"title":"requirements.txt","tooltip":"/getSignal/hello_world/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1588591843990,"hash":"54faec366d11efdac0f9d2da560e273f92288c2a"}